//colors
$white: #fff;
$font_black: black;
$font_dark: #534f4f;
$shadows_color_alto_approx: #ddd;
$color_lime_approx: #7bff00f5;
$blue: #00f;
$link-color: #4923d1;
$color_daisy_bush_approx: #4b1786;
$borders_main: #9f0009;
$borders_main_secondary: #aa0c0c;
$bg_color_borders_light-b: hsl(357, 4%, 95%);
$bg_color_borders_light: hsla(357, 10%, 59%, 0.039);
$bg_color_borders_light_secondary:hsl(357, 25%, 90%);
$bg_color_borders_light_secondary-b: hsla(357, 100%, 31%, 0.118);
$bg_color_borders_light_ternary: #906f7125;
$bg_color_links-b: hsla(357, 100%, 31%, 0.239);
$bg_color_links: hsl(357, 33%, 76%);
$yellow : #e2cc00;
//fonts
$font_0: Verdana;
$font_1: Tahoma;
$font_2: sans-serif;


//SECTIONS
$zoom:110px;
$main-width:100%;
$sub-width: 98%;
$Nav:($zoom/100)*50;
$header-height:($zoom/10)*12;
$footer-height:($zoom/10)*6;


.darkmode {
	background: #131313;
	color: white; 
	
	.titulo { 
		color: white; 
	  }  
	  h1{
		font-weight: 550;
		margin-bottom: 30px;
		color: white;
	}
	.Website-Name-Topo {
		background: #131313;
	//filter: invert(1) hue-rotate(180deg);
	}

	.ilupa {
	background-color: White;
	border-radius: 50%;
	}	
	ul.breadcrumb {
		color:white;


	}
	ul.breadcrumb li+li:before {
		color: white;
		}
	ul.breadcrumb li a {
		color: white;
		}
	ul.breadcrumb li a:hover {
			color: white;
		}
	

	.Content-rec{
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		padding-left: 4%;
		background-image: linear-gradient(180deg, #131313 50%,  $bg_color_borders_light 50%);
		background-repeat: repeat;

	}
	.btn-saibaMais{
		filter: invert(1) hue-rotate(180deg);

		}

		.galeriabtns{
			filter: invert(1) hue-rotate(180deg);
		}
		
		
	footer {
		background-color: #131313;
		color: white;
		//display: none;
		}
		
	.top{			
		background-color: #131313;
		color: white;
	}
/*
		.Website-Name{
			background-color: #131313;
			//color: white;
			
		}
*/
*:not(button):not(input){
	color: white!important;
 }
/*
.menu :nth-child(1) { order: 1; }
.menu :nth-child(2) { order: 2; }
*/
.conteudo-drop {
	a {		
		background-color: gray; 
	}
}

.mais_info1{

	background-color: gray;
}
.Content{ 
.depoimentos {
.dep1 {
	background-color: gray!important;
}
.dep2 {
	background-color: gray!important;
}
}
}
#maisdropdown {
	.mais-drop {
		a {
			background-color: gray; 
		}
}
}
		.Website-Name-Topo {


			background-image:  linear-gradient(to right,#131313 30%,rgba(0,0,0,0) 100%), url("../images/top.png"); 
			background-size: cover;	
			color: white;

		}
		.menu {
	
			//filter: invert(1) hue-rotate(180deg);
			background-color: #131313;
			color: white;
		}	
		main {
	
			//filter: invert(1) hue-rotate(180deg);
			//background-color: rgb(236, 233, 233);
			background-color: #131313;
			//color: black;
			color: white;
		}	
		.content{
			//filter: invert(1) hue-rotate(180deg);
			color: white;
			background: #131313;
		}
}


.lightmode {
background: white;
filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(85%);
-webkit-filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(85%);
-moz-filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(85%);
-o-filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(85%);
-ms-filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(85%);
}

a:visited {
color: none;
}

html {
	height: 100%;
	box-sizing: border-box;

} 
  
body {
	//background-color: #f5f5f5;
	background-color: white;
	margin: auto;
	padding: auto;
	position: relative;
	min-height: 100vh;
	width: $sub-width;


  }
  header {
	background-color: $white;
	text-align: center;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 103px;
	//box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
	z-index: 99;
  }

.top {
	background-color: $white;

}

.Website-Name-Topo {
	margin-top: 0;
	margin: auto;
	width: $sub-width;
	font-family: $font_0, $font_1, $font_2;
	font-weight: 750;
	display: flex;
	align-items: center;
	height: $header-height;
	border-radius: ($zoom/100)*10;
	background-image:  linear-gradient(to right,white 30%,rgba(0,0,0,0) 100%), url("../images/top.png"); 
	background-size: cover;	
	width: $sub-width;
	font-size: ($zoom/100)*20;
	//transition: height 1s  linear;
	img {
		padding-left: 10px;
		padding-right: 10px;
		opacity: 1;
		height: ($zoom/100)*120;
		border-radius: 30%;
		//-moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
		//box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
		//box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
	}
	a {
		text-decoration: none;
	}
}


.menu {
	margin-top: 0;
	margin: auto;
	width: $sub-width;
	padding: 0;
	display: flex;
	height: $Nav;
	background-color: $bg_color_borders_light;
	border-top: ($zoom/100)*2 solid $borders_main;
	border-bottom: ($zoom/100)*2 solid $borders_main;
	border-radius: ($zoom/100)*5;
	box-shadow: ($zoom/100)*1 0 ($zoom/100)*5 ($zoom/100)*4 $shadows_color_alto_approx;
	&.grid {
		display: grid;
		grid-template-columns: auto auto auto 1fr;		
	}
	li {
		text-align: center;
		color: $font_dark;
		list-style-type: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: ($zoom/100)*5;
		font-size: ($zoom/100)*14;
		font-weight: bold;
		border-right: ($zoom/100)*1 solid $bg_color_borders_light;
		border-left: ($zoom/100)*1 solid $bg_color_borders_light;
		-ms-border-right: ($zoom/100)*1 solid $bg_color_borders_light;
		-ms-border-left: ($zoom/100)*1 solid $bg_color_borders_light;
		padding: ($zoom/100)*4 ($zoom/100)*8;
		&:hover {
			background-image: linear-gradient(180deg, $bg_color_borders_light_secondary, $bg_color_links);
			transition: all 0.3s linear;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: ($zoom/100)*5;
			border-right: ($zoom/100)*1 solid $borders_main;
			border-left: ($zoom/100)*1 solid $borders_main;
			
			}
			a {
				padding: ($zoom/100)*6;
				text-align: center;
				color: $font_dark;
				list-style-type: none;
				height: 100%;
				display: flex;
				align-items: center;
				&:link {
					text-decoration: none;
				}
			}

		}


	.space{
		width: ($zoom/100)*1;
	}	
	&:not(.grid) {
		display: flex;

	}
	
}


/*
.menu :nth-child(1) { order: 1; }
.menu :nth-child(2) { order: 2; }
*/
.conteudo-drop {
	display: none;
	position: absolute;
	top: 0%;
	left: -65px;
	right: 10px;
	margin: 10px;
	margin-right: 25px;
	max-width: 500px;
	width: 100%; /* IE11 fix */


	.conteudo-drop-ind{
		border-radius: ($zoom/100)*2;
		height: 100%;
	}
	a {		
		color: $font_dark;
		padding: 10px;
		background-color: $bg_color_borders_light;
		background-color: white; 
		height: 100%;
		border: 1px solid $bg_color_borders_light_secondary;
		border-radius: ($zoom/100)*2;
		width: 100%;
		height: 10px;
		display: inline-flex;
		align-items: center;
		font-size: 0.9em
	}
}
.conteudo-drop:hover a:hover {
	color: black;
	background-color: $bg_color_links;

	border-radius: ($zoom/5);
}
.dropdown {
	
	position: relative;
	//display: inline-block;
	&:hover .conteudo-drop {
		display: inline-flex;
		background: #ccc;
		display: block;
		width: 100%; /* IE11 fix */
		min-height: 20px;
		top: 82%;
		left: -16%;
		right: 0px;
		width:($zoom/100)*122;
		
	}

	&:hover .conteudo-drop-ind {
		display: inline-flex;
		
	}
}

#maisdropdown {
	position: relative;
	display: none; 
	.mais-drop{
		position: absolute;
		min-height: 100px;
		top: 19%;
		display: none; 
		top: 0%;
		left: -15px;
		right: 0px;
		margin: 12px;
		margin-right: 25px;
		width:($zoom/100)*250;
	}
	&:hover .mais-drop {
		display: inline-flex;
	}
	.mais-drop {
		min-height: 100px;
		top: 19%;
		display: none; 
		top: 0%;
		left: -15px;
		right: 0px;
		margin: 12px;
		margin-right: 25px;
		width:($zoom/100)*250;
		display: none;
		position: absolute;
		cursor: -webkit-grabbing; cursor: grabbing;
		padding-top: ($zoom/100)*42;
		a {
			padding: 10px;
			background-color: $bg_color_borders_light;
			background-color: white; 
			height: 100%;
			border: 1px solid $bg_color_borders_light_secondary;
			border-radius: ($zoom/100)*2;
			width: 100%;
			height: 10px;
			display: inline-flex;
			align-items: center;
			font-size: 0.85em
		}
		&:hover .mais-drop  {
			display: inline-flex;	
		}
	}
	.mais-drop:hover a:hover {
		color: white;
		background-color: $bg_color_links;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: ($zoom/20);
	}
	
}

.botao-drop {
	cursor: pointer;
}

#setaE{
	z-index: 1000;
	img{
    width: 4vw;
    height: 4vw;
    min-width: 35px;
	min-height: 28px;
	position: fixed;
	top: ($zoom/10)*22;
	left: 15px;
	border-radius: 50%;
	background-color: $bg_color_borders_light_ternary;
}
img:hover{
    //visibility: hidden;
    background-image: linear-gradient(180deg, $bg_color_borders_light_secondary, $bg_color_links);
    border-radius: 50%;
}
}
#setaD{
	z-index: 1000;
	img{
	width: 4vw;
	height: 4vw;
    min-width: 35px;
	min-height: 28px;
	position: fixed;
	top:($zoom/10)*22;
	right: 15px;
	border-radius: 50%;
	background-color: $bg_color_borders_light_ternary;
}


img:hover{
    //visibility: hidden;
    background-image: linear-gradient(180deg, $bg_color_borders_light_secondary, $bg_color_links);
    border-radius: 50%;
}
}
.menu .imenulupa:hover {
	background-image: none;
	border-right: ($zoom/100)*1 solid $bg_color_borders_light;
	border-left: ($zoom/100)*1 solid $bg_color_borders_light;
	input[type=text]{
			left: 2px;
			border-bottom: ($zoom/100)*2 solid $font_dark;
			//background-image: linear-gradient(180deg, $bg_color_borders_light_secondary, $bg_color_links);
			color: $font_dark;
			transition: all 0.1s linear;
			&:hover{
				left: 2px;
				border-bottom: ($zoom/100)*2 solid $font_dark;
				//background-image: linear-gradient(180deg, $bg_color_borders_light_secondary, $bg_color_links);
				color: $font_dark;
				transition: all 0.1s linear;
			
			}	
		}
}
.imenulupa{
	flex: 1;
	.procura {
		margin: auto;
		flex: 1;
		justify-content: flex-start;
		//max-width:($zoom/100)*400;

	}
	.procura_entrada {
		border: 0;
		background-color: transparent;
		font-family: $font_0, $font_1, $font_2;
		color: $font_dark;
		font-size: 1.00em;
		width: 100%;
		height: 25px;
		outline: none;
		font-weight: bold;
		max-width:($zoom/100)*300;
		border-bottom: ($zoom/100)*2 solid $bg_color_borders_light;
		border-right: ($zoom/100)*1 solid $bg_color_borders_light;
		border-left: ($zoom/100)*1 solid $bg_color_borders_light;
		border-top-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
		outline: none;

	}
	//:focus: #a08b8c0a;
			

}


::placeholder {
	color: $font_dark;
}
/*
#spacemenu { 
	flex: 0.5;
	width: 1px;
	margin: auto;
	color: white;
}	
*/
.login { 
	margin: auto;
	justify-content: flex-end;
	color: white;
	height: 40px;
	
}

label {
	display: none;
	font-size: ($zoom/100)*25;
	padding: 0 0 0 ($zoom/100)*5;
}

#toggle {
	display: none;
}

.contacts{
	display: none;
}

hr {
	max-width: ($zoom/100)*70;
	height: 2px;
	background-color: $borders_main_secondary;

}
h2{
	font-weight: 550;
	margin-bottom: 30px;
}
.aboldspan {
	font-weight: 600;

}
#goback{
	font-size: large;
	font-weight: bold;
	color: $color_daisy_bush_approx;
	background-color: transparent;
	border: 0px;
	&:hover {
		color:darken($link-color,80%);
		cursor: pointer;
	}
}

.galeriabtns{

	position: absolute;
	top: ($zoom/100)*210;
	font-weight: 5500;
	left: 10%;
	font-size: 14px;
	display: none;

#closecross {
	cursor: pointer;
	background-color: transparent;
	border: 0px;
	font-weight: 600;
	visibility: hidden;
	&:hover {
		color: $borders_main;
	}
	}

#btn-next, #btn-previous {
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-radius: 50%;
	border:none;
	font-weight: 600;
	background-color: transparent;
	text-align: center;

	&:hover {
		color: $borders_main;
		}
	&:focus {
		outline: none;
	}	
}

}

#gotopbtn{
	display: inline-block;
	background-color: $bg_color_borders_light_secondary;
	display: none;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0.9;
	box-shadow: ($zoom/100)*1 0 ($zoom/100)*5 ($zoom/100)*4 $shadows_color_alto_approx;
	z-index: 1000;
	&:hover {
		background-color: $bg_color_links;
		cursor: pointer;
	}
}

ul.breadcrumb {
	display: inline-block;
	justify-self: left;
	text-align: left;
	position: absolute;
	top: ($zoom/100)*122;
	left: ($zoom/100)*130;
	opacity: 0.9;
	width:($zoom/100)*80;
	max-width: ($zoom/100)*500;


//background-color: white;

width:95%;
align-content: center;
//box-shadow: ($zoom/100)*0 ($zoom/100)*3 ($zoom/100)*4 ($zoom/100)*0 $shadows_color_alto_approx;
//border: solid 1px white;
}
ul.breadcrumb li {
display: inline;
font-size: 0.8em;
}
ul.breadcrumb li+li:before {
padding: 2px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}

#Okbtn{
	border: none;
	width: 20%;
	min-width: 110px;
	background-color: #d6aeb0;
	background-image: -webkit-gradient(linear, left top, right top, from(#ecdfe0), to(rgba(161, 140, 141, 0.039)));
	background-image: linear-gradient(to right, #ecdfe0, rgba(161, 140, 141, 0.039));
	color: #fff;
	padding: 11px;
	margin-top: 27.5px;
	font-size: 22px;
}

#darkmode-b{
	position: absolute;
	top: 21px;
	right:25px;
	color:gray;
}
#lightmode-c{
	display: none;
}
#lightmode-b{
	position: absolute;
	top: 21px;
	right:25px;
	//color:gray;
	//background-color:gray;
}

.activatelink {
	//text-decoration:underline;
	background-color: #906f7111;

}

	main {
	margin: auto;
	padding: auto;
	justify-content: center;
	text-align: center;	
	padding-top: $header-height + ($zoom/100)*119;
	padding-bottom: 86px;
	width: $sub-width;
	background-color: $white;
	font-size: ($zoom/100)*16;
	max-width: $sub-width;
	min-height: 100vh;
	position: absolute;
	//border: 1px solid black;

}



footer {
	
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	background-color: $white;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	border-top: ($zoom/100)*1 solid darkgray;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)

	div {
		padding: ($zoom/100)*5;
		text-align: center;
		font-size: 0.7em;
		font-weight: 500;
		line-height: 100%;
	}	

}
div[id^=menuidrop] { 
	display: none; 
} 
.mais { 
	display: none; 
} 



@media (max-width: ($zoom/100)*1020) { 
    #imenu7 { 
        display: none; 
	} 
	#menuidrop7 { 
		display: flex;
	} 
	#maisdropdown {

		display: flex;		
	}
	.mais { 
		display: flex;
	} 
	#imenu8 { 
		display: none; 
	} 

}
@media (max-width: ($zoom/100)*920) { 
    #imenu6 { 
        display: none; 
	} 
	#menuidrop6 { 
		display: flex;
    } 
}
@media (max-width: ($zoom/100)*820) { 
    #imenu5 { 
        display: none; 
	} 
	#menuidrop5 { 
		display: flex;
    } 
}

@media (max-width: ($zoom/100)*720) { 
    #imenu4 { 
        display: none; 
	} 
	#menuidrop4 { 
		display: flex;
    } 
}


@media all and(max-width:($zoom/100)*620) {

	.top {
		width: 100%;
		position: fixed;
		margin: auto;
		padding: auto;
		min-height: ($zoom/100)*124;
		align-content: center;
		justify-content: left;
		text-align: left;
	}
	.Website-Name-Topo {
		margin-top: 3%;
		width: 100%;
		height: $header-height*0.70;
		border-radius: ($zoom/100)*10;
		transition: height 1s  linear;
	}
	/*
	.Website-Name {
		//height: $header-height*0.70;
		font-size: 4vw;
		img{
		//	height: 16.5vw;
			padding-left: ($zoom/100)*18;
			border: none;
			border-radius: 50%;
		}
	}
*/

		label {
			padding-top:  $header-height*0.3;
			display: block;
		}

		.menu {
			opacity: 0;
			height: 0.1vh;
			transition: opacity 0.4s linear;
			text-align: left;
			display: none;
		
		}


		#toggle:checked + .menu:not(.grid) {
			
			li[id^=imenu] { 
				display: flex; 
			} 
			div[id^=menuidrop] { 
				display: none; 
			} 
			#maisdropdown {
				display: none;		
			}
			.imenulupa {
				display: none; 
			}
			display: flex;
			text-align: left;
			width: 100%;
			height: 100vh;
			opacity: 1;
			background-color: $bg_color_borders_light;
			/*> *:last-child{ 
				align-items: flex-start;
				min-height: 1200px;
			}*/

			.space{
				height:100vh;
			}

			.contacts{
				width: 100%;
				font-size:($zoom/100)*11;
				display: block;
				text-align: center;

				img{
					max-width: ($zoom/100)*30;
					height: auto;
				}
			}

		}





	.menu {	
		z-index: 1000;
		opacity: 0;
		transition: opacity 0.4s linear;
		text-align: left;
		display: none;
		align-items: center;
		border-top: 0 solid $borders_main;
		border-bottom: 0 solid $borders_main;
		border-radius: ($zoom/100)*5;
		li {
			width: $main-width;
			min-height: ($zoom/100)*40;
			border-radius: ($zoom/100)*5;
			border-bottom: ($zoom/100)*1 dashed $bg_color_borders_light;
		}


		.dropdown {
	
			position: relative;
			//display: inline-block;
			.conteudo-drop {
				display: none;
				position: absolute;
			}
			&:hover .conteudo-drop {
				background: transparent;
				display: block;
				width: 100%; /* IE11 fix */
				min-height: 20px;
				top: 52%;
				left: 40%;
				right: 0px;
				width:($zoom/100)*122;
				
			}
		}
			

		.conteudo-drop-ind{
			display: flex;
			position: relative;
			top: -10px;
			left: 50%;
			flex-direction: column;
			text-align: center;
			width: 200px;
			a {
				height: 9px;
				border-left: ($zoom/100)*1 solid $borders_main;
				border-right: ($zoom/100)*1 solid $borders_main;
				color: $white;
				background-color: $bg_color_links;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
				border-bottom: ($zoom/100)*2 solid $borders_main;
				border-radius: ($zoom/100)*5;
			}
		}
			.login{
				border-top: ($zoom/100)*1 solid $bg_color_borders_light;
				border-bottom: ($zoom/100)*1 solid $bg_color_borders_light;
				width: 20%;
				margin:($zoom/100)*10;
				border-radius: ($zoom/100)*5;
			}
			&:not(.grid) {
				flex-direction: column;
				text-align: left;
			}

			> *:last-child {
				margin-left: 0;
			}		
	}
	.galeriabtns{
		position: fixed;
		top: ($zoom/100)*180;
		left: ($zoom/100)*48;
	}	

	#darkmode-b{
		position: absolute;
		top: 34px;
		right:5px;
	}
	#lightmode-b{
		position: absolute;
		top: 34px;
		right:5px;
	}
	#closebtn{
		display:none;
	}

	ul.breadcrumb {
		display: inline-block;
		width:($zoom/100)*80;
		max-width: ($zoom/100)*180;
		position: fixed;
		top: ($zoom/100)*151;
		left: 10%;
		opacity: 0.9;	
		width:95%;
		align-content: center;
	}
	.toggle1 {
		background-color: $borders_main;
		width: 100%;
		max-height: ($zoom/100)*0.5;
	}	
	footer {
		margin: 0;
		padding: 0;
		display: none;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .arrange_collection_today { margin-top:-60px;  } }
@media (prefers-color-scheme: light) {
	body {
		background-color:white;
	}
}
@media (prefers-color-scheme: dark) {
	.body{
		//filter: invert(1) hue-rotate(180deg);
	  background: $white;
	  color:  #131313;
  }

}



/* CSS Document */