.top {
	background-color: white;
	width: 98%;
	position: fixed;
	padding-top: 1%;
}
.Website-Name-Topo {
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: 750;
	align-content: center;
}
.Website-Name-Topo a {
	text-decoration: none;
}
a:active {
	color: blue;
}
.Website-Name {
	padding-left: 0.2%;
	font-size: 24px;
	margin: auto;
	vertical-align: 50%;
}
.Website-Name-Topo img {
	width: 100px;
}
body {
	margin-top: 0%;
	padding-top: 0%;
	padding-left: 5px;
	font-family: Verdana, Tahoma, sans-serif;
	width: 98%;
}
.menu {
	font-size: 0.75em;
	margin: 0%;
	padding: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(148, 131, 158);
	border-top: 2px solid rgb(82, 76, 76);
	border-bottom: 2px solid rgb(82, 76, 76);
	border-radius: 5px;
	box-shadow: 1px 0px 5px 4px #ddd;
}
.menu:not(.grid) {
	display: flex;
}
.menu.grid {
	display: grid;
	/*grid-template-columns: repeat (3,auto) 1fr;
*/
	grid-template-columns: auto auto auto 1fr;
}
.menu > *:last-child {
	margin-left: auto;
}
.menu li {
	text-align: center;
	color: white;
	list-style-type: none;
	display: inline-flex;
	border-radius: 5px;
	font-weight: bold;
	border-right: 1px solid rgb(148, 131, 158);
	border-left: 1px solid rgb(148, 131, 158);
	padding: 5px 8px;
}
.menu a {
	padding: 6px;
	text-align: center;
	color: white;
	list-style-type: none;
}
/*Sem sublinhado nos links do menu */
.menu a:link {
	text-decoration: none;
}
/* mudar style do menu que desce ao passar o rato */
.menu li:hover {
	background-color: rgb(166, 142, 185);
	background-image: linear-gradient(180deg, rgb(166, 142, 185), rgb(153, 108, 190));
	border-radius: 5px;
	border-right: 1px solid rgb(82, 76, 76);
	border-left: 1px solid rgb(82, 76, 76);
}
/*  menu que desce */
.dropdown {
	position: relative;
	display: inline-block;
}
.botao-drop {
	cursor: pointer;
	padding-left: 6px;
}
/* Parte do menu que desce - esconder*/
.menu .conteudo-drop {
	display: none;
	position: absolute;
	cursor: pointer;
	text-align: center;
	margin-top: 20px;
}
.menu .conteudo-drop a {
	color: white;
	background-color: rgb(144, 116, 167);
	border-bottom: 2px solid rgb(82, 76, 76);
	border-radius: 5px;
	width: 100%;
	display: block;
	font-size: 0.85em;
}
/* display da parte do menu que desce - mostrar*/
.dropdown:hover .conteudo-drop {
	display: block;
}
.conteudo-drop:hover a:hover {
	background-color: rgb(166, 142, 185);
	border-radius: 5px;
}
.procura input:hover {
	padding: 1px;
	background-color: rgb(166, 142, 185);
	/*border-radius: 40px;
*/
}
.procura {
	flex: 0.8;
}
/* Parte do menu que desce - style*/
.procura_entrada {
	border: 0;
	background: transparent;
	border-bottom: 1px solid white;
	color: white;
	font-size: 1em;
	width: 100%;
	outline: none;
	font-weight: bold;
}
::placeholder {
	color: white;
}
#login input {
	font-size: 1.1em;
	font-weight: 200px;
	padding: 0.8em;
	border-radius: 0.4em;
	box-sizing: border-box;
	width: 100%;
}
#login input[type="Submit"] {
	border: none;
	background-color: #AEBD38BB;
background-image: linear-gradient(to right,
	#AEBD38BB , rgb(187, 255, 0));
	color: white;
	padding: 0.8em;
	margin-top: 1.5em;
	font-size: 1.5em;
}
.Content {
	padding-top: 155px;
	width: 98%;
	padding-left: 20px;
}

/*  o footer deve ficar no fundo da pagina*/
footer {
	margin-top: 50px;
	border-top: 2px solid rgb(82, 76, 76);
	border-bottom: 2px solid rgb(82, 76, 76);
	border-radius: 5px;
	background-color:  rgb(151, 137, 160);
	display: flex;
	justify-content: space-around;
	border-radius: 12px;
	overflow: hidden;
}
footer div {
	padding: 10px;
	text-align: center;
	font-size: 0.70em;
	text-decoration: none;
	color: white;
}
footer a:link {
	text-decoration: none;
	color: rgb(75, 23, 134);
}
/*Prepare for devices 575px*/
label {
	display: none;
	font-size: 25px;
	padding: 0px 0px 0px 5px;
}
#toggle {
	display: none;
}
@media all and (max-width:575px) {
.Website-Name {
	padding-left: 0.2%;
	font-size: 4vw;
}
.top {
	background-color: white;
	width: 100%;
	position: fixed;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 0px solid rgb(82, 76, 76);
	border-bottom: 0px solid rgb(82, 76, 76);
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px #ddd;
}
.menu li {
	width: 95%;
}
.menu .conteudo-drop {
	padding-left: 5px;
}
/*  menu que desce */
/* Parte do menu que desce - esconder*/
.menu .conteudo-drop {
	display: none;
	position: relative;
	cursor: pointer;
	text-align: center;
}
/* display da parte do menu que desce - mostrar*/
.dropdown:hover .conteudo-drop {
	display: block;
}
.Content {
	padding-top: 155px;
	width: 98%;
	padding-left: 20px;
}

.menu:not(.grid) {
	flex-direction: column;
	text-align: left;
}
.menu> *:last-child {
	margin-left: 0;
}
.top label {
	display: block;
}
.top #toggle:checked + .menu:not(.grid) {
	display: flex;
	text-align: left;
}
.top .menu {
	display: none;
	margin: -30px 0px 0px 30px;
	text-align: left;
}
.top #toggle:checked + .menu:not(.grid) {
	display: flex;
	text-align: left;
}
}
 