//colors
$white: #fff;
$color_dorado_approx: #524c4c;
$color_alto_approx: #ddd;
$blue: #00f;
$secondary-color: #4923d1;
$link-color: $secondary-color;
$color_mountain_mist_approx: #94839e;
$color_amethyst_smoke_approx: #a68eb9;
$color_wisteria_approx: #996cbe;
$color_lime_approx: #bf0;
$color_daisy_bush_approx: #4b1786;

//fonts
$font_0: Verdana;
$font_1: Tahoma;
$font_2: sans-serif;

//SECTIONS
$content-width:940px;
$header-height:60px;
$footer-height:60px;
//links mais escuros on hover
a{
    color:$link-color;
    &:hover{
        color:darken($link-color,15%);
	}
	&:active {
		color: $blue;
	}
} 

.conteudo-drop:hover a:hover {
	background-color: $color_amethyst_smoke_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}

body {
	margin-top: 0;
	padding-top: 0;
	padding-left: 5px;
	font-family: $font_0, $font_1, $font_2;
	width: 98%;
}

		.top {
			background-color: $white;
			width: 98%;
			position: fixed;
			padding-top: 1%;
		}
		.Website-Name-Topo {
			font-family: $font_0, $font_1, $font_2;
			font-weight: 750;
			align-content: center;
			a {
				text-decoration: none;
			}
			img {
				width: 100px;
			}
		}
		.Website-Name {
			padding-left: 0.2%;
			font-size: 24px;
			margin: auto;
			vertical-align: 50%;
		}	


	.menu {
		font-size: 0.75em;
		margin: 0;
		padding: 0;
		display: flex;
		background-color: $color_mountain_mist_approx;
		border-top: 2px solid $color_dorado_approx;
		border-bottom: 2px solid $color_dorado_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 1px 0 5px 4px $color_alto_approx;
		&.grid {
			display: grid;
			grid-template-columns: auto auto auto 1fr;
			
		}
		li {
			text-align: center;
			color: $white;
			list-style-type: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 5px;
			height: 30px;
			font-weight: bold;
			border-right: 1px solid $color_mountain_mist_approx;
			border-left: 1px solid $color_mountain_mist_approx;
			padding: 4px 8px;
			&:hover {
				background-color: $color_amethyst_smoke_approx;
				background-image: linear-gradient(180deg, $color_amethyst_smoke_approx, $color_wisteria_approx);
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 5px;
				border-right: 1px solid $color_dorado_approx;
				border-left: 1px solid $color_dorado_approx;
			}

		}
		a {
			padding: 6px;
			text-align: center;
			color: $white;
			list-style-type: none;
			&:link {
				text-decoration: none;
			}
		}
		.conteudo-drop {
			display: none;
			position: absolute;
			cursor: pointer;
			padding-top: 98%;
			margin-top: 20px;
			a {
				color: $white;
				background-color: $color_wisteria_approx;
				border-bottom: 2px solid $color_dorado_approx;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 5px;
				width: auto;
				display: block;
				font-size: 0.85em;
			}
		}
		&:not(.grid) {
			display: flex;
		}
		> *:last-child {
			margin-left: auto;
		}
	}
	.dropdown {
		position: relative;
		display: inline-block;
		&:hover .conteudo-drop {
			display: block;
		}
	}
	.botao-drop {
		cursor: pointer;
		padding-left: 6px;
	}
	.procura {
		flex: 0.9;
		min-width: 60px;
		input:hover {
			padding: 1px;
			background-color: $color_amethyst_smoke_approx;
		}
	}
	.procura_entrada {
		border: 0;
		background: transparent;
		border-bottom: 1px solid $white;
		color: $white;
		font-size: 1em;
		width: 100%;
		outline: none;
		font-weight: bold;
	}
	::placeholder {
		color: $white;
	}
	#login {
		input {
			font-size: 1.1em;
			font-weight: 200px;
			padding: 0.8em;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0.4em;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			width: 100%;
		}
		input[type="Submit"] {
			border: none;
			background-color: #AEBD38BB;
			background-image: linear-gradient(to right, #aebd38bb , $color_lime_approx);
			color: $white;
			padding: 0.8em;
			margin-top: 1.5em;
			font-size: 1.5em;
		}
	}

	.Content {
		padding-top: 155px;
		width: 98%;
		padding-left: 20px;
	}
	footer {
		margin-top: 50px;
		border-top: 2px solid $color_dorado_approx;
		border-bottom: 2px solid $color_dorado_approx;
		background-color: $color_mountain_mist_approx;
		display: flex;
		justify-content: space-around;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 12px;
		overflow: hidden;
		div {
			padding: 10px;
			text-align: center;
			font-size: 0.70em;
			text-decoration: none;
			color: $white;
		}
		a:link {
			text-decoration: none;
			color: $color_daisy_bush_approx;
		}
	}
	label {
		display: none;
		font-size: 25px;
		padding: 0 0 0 5px;
	}
	#toggle {
		display: none;
	}

@media all and(max-width:575px) {

	.Website-Name {
		padding-left: 0.2%;
		font-size: 4vw;
	}
	.top {
		background-color: $white;
		width: 100%;
		position: fixed;

		label {
			display: block;
		}
		.menu {
			display: none;
			margin: -30px 0 0 30px;
			text-align: left;
		}
		#toggle:checked + .menu:not(.grid) {
			display: flex;
			text-align: left;
		}
	}
	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 0 solid $color_dorado_approx;
		border-bottom: 0 solid $color_dorado_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 0 $color_alto_approx;
		li {
			width: 95%;
			
			.conteudo-drop {
				display: none;
				position: absolute;
				cursor: pointer;
				padding-top: 10%;
				padding-left: 50%;
				margin-top: 20px;
					a {
						color: $white;
						background-color: $color_wisteria_approx;
						border-bottom: 2px solid $color_dorado_approx;
						//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
						border-radius: 5px;
						width: auto;
						display: block;
						font-size: 0.85em;
				}
				

			}
		}
		.procura_entrada {
			text-align: center;
		}


		&:not(.grid) {
			flex-direction: column;
			text-align: left;
		}
		> *:last-child {
			margin-left: 0;
		}
	}
	.Content {
		padding-top: 155px;
		width: 98%;
		padding-left: 20px;
	}
	.dropdown:hover .conteudo-drop {
		display: block;
	}
	.top label {
		display: block;
	}
	.top #toggle:checked + .menu:not(.grid) {
		display: flex;
		text-align: left;
	}

	.top .menu {
		display: none;
		margin: -30px 0px 0px 30px;
		text-align: left;
	}
	.top #toggle:checked + .menu:not(.grid) {
		display: flex;
		text-align: left;
	}

}
